app-inspector {
  display:block;
  position:absolute;
  z-index:10;
  bottom:1rem;
  left:1rem;
  min-width: 350px;
  box-shadow: 0 0 10px #ccc;
  border-radius:5px;
}

.jtk-callflow-inspector {
  display:flex;
  flex-direction: column;
  padding:1rem;
  background-color: #e7e7e7;
  margin: 5px;

}

.jtk-callflow-inspector input {
  height: 1.5rem;
  margin:5px 0;
}
